<html>
    <head>
        <title>Moogle</title>
    </head>
    <body>
        <div>
            <ul>
                <li>About</li>
                <li>Store</li>
            </ul>
            <ul>
                <li>KupoMail</li>
                <li>Images</li>
                <li>DROPDOWN PLACEHOLDER</li>
            </ul>
            <button>Sign in</button>
        </div>
        <div>
            <h1><span>M</span><span>o</span><span>o</span><span>g</span><span>l</span><span>e</span>e</h1>
            <form>
                <input type="text" />
                <button id="search-submit">Moogle Search</button> <button id="feeling-lucky">I'm Feeling Lucky, Kupo!</button>
            </form>
        </div>
        <div>
            <ul>
                <li>Advertisng</li>
                <li>Business</li>
                <li>How Search Works</li>
            </ul>
        </div>
    </body>
</html>